* {
    margin: 0;
}

body {
    background-image: url("Pokemon_test.jpg");
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.header {
    background-color: #BBD6B8;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 2% 0 2% 0;
    margin-top: 3%;
}

.search_container {
    margin: auto;
    color:white;
    background-color: rgb(24, 27, 31);
    width: 500px; 
    padding: 2% 0 2% 0;
    margin-top: 3%;
}

.box {
    background-color: white;
}

.card {
    list-style: none;
    padding: 40px;
    background-color:white;
    color: #222; 
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
    background-color: red;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}

.card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: grey;
    margin-top: 5px;
}

.card-image {
    height: 180px;
    margin: 0 auto;
}


#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 5fr));
    grid-gap: 20px;
}
